.hide {
    display: none;
}

.startLat, .startLon {
    display:none;
}

.form {
    text-align: center;
    margin: 0 auto;
    // border:1px solid red;
    width:100%;
    z-index:10;
    form.input input[type=search] {
        background:white;
        width: calc(70% - 2px);
        text-align: center;
        padding: 10px 0;
        border:none;
        &:focus {
            outline:none;
            border:none;
            border-bottom:2px solid lighten($secondary, 10%);
        }
    }
    form.input input[type=submit] {
        width: calc(30% - 2px);
        background: $secondary;
        color: white;
        font-weight: 700;
        padding: 10px;
        border:none;
        &:hover, &:active {
            background:lighten($secondary,10%);
        }
    }
}

.sticky {
    position: fixed;
    top:55px;
    width: 100%;
}