header {
    height:100vh;
    text-align: center;
    font-size:2.5rem;
    font-weight:700;
    a {
        border:2px solid $secondary;
    }
    h4 {
        color: $secondary;
    }
}

header .wrapper {
    position:relative;
    top:30%;
    transform:translateY(-30%);
    figure {
        width:50%;
        position: relative;
        left:25%;
        transform: translateX(-50%);
        animation: pulsate 3s infinite;
        z-index:-1;
        @include breakPoint(firstBreak) {
            width:30%;
            left:35%;
        }
        @include breakPoint(secondBreak) {
            width:25%;
            left:38%;
        }
        @include breakPoint(thirdBreak) {
            width:20%;
            left:40%;
        }
    }
    a {
        font-weight:700;
        color:$secondary;
        padding:10px;
        line-height:2;
        border:2px solid $secondary;
        border-radius: 10px;
        background:rgba(255,255,255,0.7);
    }
}
