body {
    font-family: 'Raleway', sans-serif;
}

#startLat, #startLon {
    display:none;
}
main .wrapper {
    padding-top: 1px;
    width:98%;
    margin:0 auto;
    @include breakPoint(firstBreak) {
        // border:1px solid red;
        width:80%;
    }
    @include breakPoint(thirdBreak) {
        width:90%;
    }
 
}
.results {
    padding:8rem 0;
    article {
        border:1px solid $base;
        padding:2rem;
        margin:1rem;
        border-radius: 10px;
        background:rgba(255,255,255,0.3);
        @include breakPoint(secondBreak) {
            width:calc(50% - 2rem);
            float: left;
        }
        @include breakPoint(thirdBreak) {
            width:calc(33.3% - 2rem)
        }
        .website {
            float: left;
        }
        .phone {
            margin-bottom:1rem;
        }
        button {
            // background:green;
            float: right;
            position: relative;
            bottom:3px;
        }
        ul { 
            list-style:none;
            padding:0;
            li {
                line-height:1.5;
                // margin:10px 0;
            }
        }
        ul:nth-of-type(1) {
            // border: 1px solid red;
            li:nth-of-type(1) {
                float: left;
                // border:1px solid black;
                width:85%;
                @include breakPoint(secondBreak) {
                    width:80%;
                }
            }
            .price {
                float:right;
                // border:1px solid purple;
                text-align: right;
                padding:0;
                // width:30%;
                font-size:2rem;
                position: relative;
            }
        }   
    }
}

.price {
    font-weight: 700;
    color: $accent;
}

figure.rating{
    img {
        width:10%;
        filter:grayscale(100%);
        float: left;
    }
    img.colored {
        filter:grayscale(0%);
    }
}

a, button, input[type="submit"] {
    color:$secondary;
    border:1px solid $secondary;
    padding:5px 15px;
    background:none;
    border-radius: 5px;
    &:hover{
        color:white;
        background:rgba(0,92,173,0.7);
        // border:1px solid rgba(0,92,173,0.7);
    }
}

.directions {
    .mapouter {
        text-align: center;
        margin: 50px 10px 10px 10px;
        text-align: center;
        border-top: 1.5px dotted $secondary;
    }
    ul {
        list-style: none;
        padding: 0 10px;
        li {
            padding: 10px 0;
            border-bottom: 2px dotted $secondary;
        }
    }
    h3 {
        margin-top: 10px;
        text-align: center;
        font-size:3rem;
    }
    .fa-caret-left {
        font-size: 5rem;
        border: 2px solid $accent;
        border-radius: 5px;
        padding: 2px 5px 0 0;
        color: $accent;
        width: 60px;
        height:60px;
        text-align: center;
        &:hover {
            color:lighten($accent, 10%);
            border:2px solid lighten($accent, 10%);
        }
    }
    // button {
    //     width: 7rem;
    //     height: 6rem;
    //     float: left;
    //     border: none;
    //     background-color: transparent;
    //     border-radius: 5px;
    //     position: fixed;
    //     top: 0;
        
    // }
    }
    .fa-caret-left {
        font-size: 5rem;
        border: 2px solid $primary;
        border-radius: 5px;
        background-color: $primary;
        padding-right: 5px;
        color: $accent;
        width: 100%;
        text-align: center;
    }
    button {
        width: 7rem;
        height: 6rem;
        float: left;
        border: none;
        background-color: transparent;
        border-radius: 5px;
        position: fixed;
        top: 0;
        
    }
    .fa-utensils:before {
        position: relative;
        left: -3rem;
    }
}

}

    .form {
        text-align: center;
        margin: 0 auto;
    }

    form.input input[type=search] {
        float: left;
        width: 80%;
        border: 2px solid $secondary;
        text-align: center;
        padding: 10px;
        border-radius: 5px;
        margin-right: 30px;
    }
    form.input input[type=submit] {
        width: 80%;
        border: 3px solid $primary;
        border-radius: 5px;
        background-color: $secondary;
        color: white;
        font-weight: 700;
        padding: 10px;
        a, button, input[type="submit"] {
            color:$secondary;
            border:1px solid $secondary;
            padding:5px 15px;
            background:none;
            border-radius: 5px;
        }
