body {
    font-family: 'Raleway', sans-serif;
}

#startLat, #startLon {
    display:none;
}
main .wrapper {
    padding-top: 1px;
    width:98%;
    margin:0 auto;
    @include breakPoint(firstBreak) {
        // border:1px solid red;
        width:80%;
    }
    @include breakPoint(thirdBreak) {
        width:90%;
    }
 
}

figure.logo {
    width:50px;
    z-index:11;
    position: fixed;
    left:0;
    top:5px;
}

.preloader {
    height: 100vh;
}

.results {
    padding:9.5rem 0;
    article {
        border:1px solid $base;
        padding:2rem;
        margin:1rem;
        border-radius: 10px;
        background:rgba(255,255,255,0.3);
        &:hover, &:active {
            transform:scale(1.02);
            box-shadow:1px 1px 10px darken($light, 10%);
        }
        @include breakPoint(secondBreak) {
            width:calc(50% - 2rem);
            float: left;
        }
        @include breakPoint(thirdBreak) {
            width:calc(33.3% - 2rem)
        }
        .website {
            float: left;
        }
        .phone {
            margin-bottom:1rem;
        }
        button {
            // background:green;
            float: right;
            position: relative;
            bottom:4px;
        }
        ul { 
            list-style:none;
            padding:0;
            li {
                line-height:1.5;
                // margin:10px 0;
            }
        }
        ul:nth-of-type(1) {
            // border: 1px solid red;
            li:nth-of-type(1) {
                float: left;
                // border:1px solid black;
                width:85%;
                @include breakPoint(secondBreak) {
                    width:80%;
                }
            }
            .price {
                float:right;
                // border:1px solid purple;
                text-align: right;
                padding:0;
                // width:30%;
                font-size:1.5rem;
                position: relative;
                @include breakPoint(firstBreak) {
                    font-size:2rem;
                }
            }
        }   
    }
}

.price {
    font-weight: 700;
    color: $accent;
}

figure.rating{
    img {
        width:10%;
        filter:grayscale(100%);
        float: left;
    }
    img.colored {
        filter:grayscale(0%);
    }
}

a, button {
    color:$secondary;
    border:1px solid $secondary;
    padding:5px 15px;
    background:none;
    border-radius: 5px;
    &:hover, &:active{
        color:white;
        background:rgba(0,92,173,0.7);
        transition: 0.2s all ease;
    }
}

.directions {
    .mapouter {
        text-align: center;
        margin: 0 0 10px 0;
        text-align: center;
        border-top: 1.5px dotted $secondary;
    }
    ul {
        list-style: none;
        padding: 0 10px;
        li {
            padding: 10px 0;
            border-bottom: 2px dotted $secondary;
        }
        li:last-child {
            border-bottom:none;
        }     
    }
    h3 {
        padding:5px 0;
        text-align: center;
        font-size:2rem;
        background:rgba(214,214,214, 0.8);
        @include breakPoint(secondBreak) {
            font-size:3rem;
        }
    }
    .fa-caret-left {
        font-size: 3.5rem;
        // border: 2px solid $accent;
        border-radius: 5px;
        color: $accent;
        width: 50px;
        height:50px;
        text-align: center;
        z-index:20;
        position: absolute;
        top:0;
        cursor: pointer;
        &:hover, &:active {
            color:lighten($accent, 10%);
            transition: 0.2s all ease;
        }
        @include breakPoint(secondBreak) {
            font-size:5rem;
        }
    }
    .fa-utensils:before {
        position: relative;
        left: -3rem;
    }
}

.stumbleGrumble {
    position: relative;
}

footer {
    text-align: center;
    color: $primary;
    p {
        position: fixed;
        background:$light;
        display:block;
        bottom:0;
        width:100%;
    }
}
