$bodyFont: 'Raleway', sans-serif;
$primary: #002350;
$secondary:#005CAD;
$accent: #D2465B;
$base:#565656;
$light: #D6D6D6;

@mixin breakPoint($point) {
    @if $point == firstBreak {
        @media (min-width:450px) { @content;}
    }
    @if $point == secondBreak {
        @media (min-width:700px) { @content;}
    }
    @if $point == thirdBreak {
        @media (min-width:1025px) { @content;}
    }
    @if $point == fourthBreak {
        @media (min-width:1400px) {@content;}
    }
    @if $point == fifthBreak {
        @media (min-width:1500px) {@content;}
    }
}


@keyframes pulsate {
    0% {
        transform:scale(1);
    }
    50% {
        transform:scale(1.5);

    }
    100% {
        transform:scale(1);
    }
}