$bodyFont: 'Raleway', sans-serif;
$primary: #002350;
$secondary:#005CAD;
$accent: #D2465B;
$base:#565656;
$light: #D6D6D6;

@mixin breakPoint($point) {
    @if $point == firstBreak {
        @media (min-width:600px) { @content;}
    }
    @if $point == secondBreak {
        @media (min-width:900px) { @content;}
    }
    @if $point == thirdBreak {
        @media (min-width:1200px) { @content;}
    }
    @if $point == fourthBreak {
        @media (min-width:450px) {@content;}
    }
  
}


@keyframes pulsate {
    0% {
        transform:scale(1);
    }
    50% {
        transform:scale(1.5);

    }
    100% {
        transform:scale(1);
    }
}