@import 'partials/_setup.scss';
@import 'partials/_utils.scss';
@import 'partials/_Header.scss';
@import 'partials/_Main.scss';
@import 'partials/_Form.scss';

html {
  font-size:62.5%;

}

* {
  transition:all 0.2s ease-in-out;
}

body {
  background:url('./assets/brickwall.png');
  color:$primary;
  font-size:1.8rem;
  font-family:$bodyFont;
  min-width:400px;
  max-width:1500px;
  @include breakPoint(secondBreak) {
    font-size:1.6rem;
  }
  @include breakPoint(thirdBreak) {
    font-size:1.8rem;
  }
  @include breakPoint(fifthBreak) {
    font-size:1.6rem;
  }
}

img {
  width:100%;
  display:block;
}

h1 {
  font-size:6rem;
  text-align: center;
  // transform: translateY(50%);
}

h2 {
  // border:1px solid red;
  font-size:3rem;
  width:100%;
  text-align: center;
  background:$light;
  padding:10px 0 10px 5px;
  position: fixed;
  top:0;
  z-index: 10;
}

h3 {
  padding:0 1rem;
  text-align: center;
  @include breakPoint(secondBreak) {
    height:5rem;
  }
}

a {
  text-decoration: none;
}