article, aside, details, figcaption, figure, footer, header, hgroup, nav, section, summary {
  display: block; }

audio, canvas, video {
  display: inline-block; }

audio:not([controls]) {
  display: none;
  height: 0; }

[hidden] {
  display: none; }

html {
  font-family: sans-serif;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%; }

a:focus {
  outline: thin dotted; }

a:active, a:hover {
  outline: 0; }

h1 {
  font-size: 2em; }

abbr[title] {
  border-bottom: 1px dotted; }

b, strong {
  font-weight: 700; }

dfn {
  font-style: italic; }

mark {
  background: #ff0;
  color: #000; }

code, kbd, pre, samp {
  font-family: monospace, serif;
  font-size: 1em; }

pre {
  white-space: pre-wrap;
  word-wrap: break-word; }

q {
  quotes: \201C \201D \2018 \2019; }

small {
  font-size: 80%; }

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -.5em; }

sub {
  bottom: -.25em; }

img {
  border: 0; }

svg:not(:root) {
  overflow: hidden; }

fieldset {
  border: 1px solid silver;
  margin: 0 2px;
  padding: .35em .625em .75em; }

button, input, select, textarea {
  font-family: inherit;
  font-size: 100%;
  margin: 0; }

button, input {
  line-height: normal; }

button, html input[type=button], input[type=reset], input[type=submit] {
  -webkit-appearance: button;
  cursor: pointer; }

button[disabled], input[disabled] {
  cursor: default; }

input[type=checkbox], input[type=radio] {
  box-sizing: border-box;
  padding: 0; }

input[type=search] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box; }

input[type=search]::-webkit-search-cancel-button, input[type=search]::-webkit-search-decoration {
  -webkit-appearance: none; }

textarea {
  overflow: auto;
  vertical-align: top; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

body, figure {
  margin: 0; }

legend, button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0; }

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: '';
  clear: both;
  height: 0; }

* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0; }

@keyframes pulsate {
  0% {
    transform: scale(1); }
  50% {
    transform: scale(1.5); }
  100% {
    transform: scale(1); } }

header {
  height: 100vh;
  text-align: center;
  font-size: 2.5rem;
  font-weight: 700; }

header .wrapper {
  position: relative;
  top: 50%;
  transform: translateY(-50%); }
  header .wrapper figure {
    width: 50%;
    position: relative;
    left: 25%;
    transform: translateX(-50%);
    animation: pulsate 3s infinite;
    z-index: -1; }
    @media (min-width: 600px) {
      header .wrapper figure {
        width: 30%;
        left: 35%; } }
    @media (min-width: 900px) {
      header .wrapper figure {
        width: 25%;
        left: 38%; } }
    @media (min-width: 1200px) {
      header .wrapper figure {
        width: 20%;
        left: 40%; } }
  header .wrapper a {
    font-weight: 700;
    color: #005CAD;
    padding: 10px;
    line-height: 2;
    border: 2px solid #005CAD;
    border-radius: 10px;
    background: rgba(255, 255, 255, 0.7); }
    header .wrapper a:hover, header .wrapper a:active {
      background: #005CAD;
      color: white; }

body {
  font-family: 'Raleway', sans-serif; }

#startLat, #startLon {
  display: none; }

main .wrapper {
  padding-top: 1px;
  width: 98%;
  margin: 0 auto; }
  @media (min-width: 600px) {
    main .wrapper {
      width: 80%; } }
  @media (min-width: 1200px) {
    main .wrapper {
      width: 90%; } }

figure.logo {
  width: 50px;
  z-index: 11;
  position: fixed;
  left: 0;
  top: 5px; }

.preloader {
  height: 100vh; }

.results {
  padding: 9.5rem 0; }
  .results article {
    border: 1px solid #565656;
    padding: 2rem;
    margin: 1rem;
    border-radius: 10px;
    background: rgba(255, 255, 255, 0.3); }
    .results article:hover, .results article:active {
      transform: scale(1.02);
      box-shadow: 1px 1px 10px #bdbdbd; }
    @media (min-width: 900px) {
      .results article {
        width: calc(50% - 2rem);
        float: left; } }
    @media (min-width: 1200px) {
      .results article {
        width: calc(33.3% - 2rem); } }
    .results article .website {
      float: left; }
    .results article .phone {
      margin-bottom: 1rem;
      color: #005CAD; }
      .results article .phone:hover, .results article .phone:active {
        color: #D2465B; }
    .results article button {
      float: right;
      position: relative;
      bottom: 4px; }
    .results article ul {
      list-style: none;
      padding: 0; }
      .results article ul li {
        line-height: 1.5; }
    .results article ul:nth-of-type(1) li:nth-of-type(1) {
      float: left;
      width: 85%; }
      @media (min-width: 900px) {
        .results article ul:nth-of-type(1) li:nth-of-type(1) {
          width: 80%; } }
    .results article ul:nth-of-type(1) .price {
      float: right;
      text-align: right;
      padding: 0;
      font-size: 1.5rem;
      position: relative; }
      @media (min-width: 600px) {
        .results article ul:nth-of-type(1) .price {
          font-size: 2rem; } }

.price {
  font-weight: 700;
  color: #D2465B; }

figure.rating img {
  width: 10%;
  filter: grayscale(100%);
  float: left; }

figure.rating img.colored {
  filter: grayscale(0%); }

a:not(.phone), button {
  color: #005CAD;
  border: 1px solid #005CAD;
  padding: 5px 15px;
  background: none;
  border-radius: 5px; }
  a:not(.phone):hover, a:not(.phone):active, button:hover, button:active {
    color: white;
    background: rgba(0, 92, 173, 0.7); }

.directions .mapouter {
  text-align: center;
  margin: 0 0 10px 0;
  text-align: center;
  border-top: 1.5px dotted #005CAD; }

.directions ul {
  list-style: none;
  padding: 0 10px; }
  .directions ul li {
    padding: 10px 0;
    border-bottom: 2px dotted #005CAD; }
  .directions ul li:last-child {
    border-bottom: none; }

.directions h3 {
  padding: 5px 0;
  text-align: center;
  font-size: 2rem;
  background: rgba(214, 214, 214, 0.8); }
  @media (min-width: 900px) {
    .directions h3 {
      font-size: 3rem; } }

.directions .fa-caret-left {
  font-size: 3.5rem;
  border-radius: 5px;
  color: #D2465B;
  width: 50px;
  height: 50px;
  text-align: center;
  z-index: 20;
  position: absolute;
  top: 0; }
  .directions .fa-caret-left:hover, .directions .fa-caret-left:active {
    color: #dc6f7f; }
  @media (min-width: 900px) {
    .directions .fa-caret-left {
      font-size: 5rem; } }

.directions .fa-utensils:before {
  position: relative;
  left: -3rem; }

.stumbleGrumble {
  position: relative; }

footer {
  text-align: center;
  color: #002350; }
  footer p {
    position: fixed;
    background: #D6D6D6;
    display: block;
    bottom: 0;
    width: 100%; }

.hide {
  display: none; }

.startLat, .startLon {
  display: none; }

.form {
  text-align: center;
  margin: 0 auto;
  width: 100%;
  z-index: 10; }
  .form form.input input[type=search] {
    background: white;
    width: calc(70% - 2px);
    text-align: center;
    padding: 10px 0;
    border: none; }
    .form form.input input[type=search]:focus {
      outline: none;
      border: none;
      border-bottom: 2px solid #0077e0; }
  .form form.input input[type=submit] {
    width: calc(30% - 2px);
    background: #005CAD;
    color: white;
    font-weight: 700;
    padding: 10px;
    border: none; }
    .form form.input input[type=submit]:hover, .form form.input input[type=submit]:active {
      background: #0077e0; }

.sticky {
  position: fixed;
  top: 55px;
  width: 100%; }

html {
  font-size: 62.5%; }

* {
  transition: all 0.2s ease-in-out; }

body {
  background: url("./assets/brickwall.png");
  color: #002350;
  font-size: 1.8rem;
  font-family: "Raleway", sans-serif; }
  @media (min-width: 900px) {
    body {
      font-size: 1.6rem; } }
  @media (min-width: 1200px) {
    body {
      font-size: 1.8rem; } }

img {
  width: 100%;
  display: block; }

h1 {
  font-size: 6rem;
  text-align: center; }

h2 {
  font-size: 3rem;
  width: 100%;
  text-align: center;
  background: #D6D6D6;
  padding: 10px 0 10px 5px;
  position: fixed;
  top: 0;
  z-index: 10; }

h3 {
  padding: 0 1rem;
  text-align: center; }
  @media (min-width: 900px) {
    h3 {
      height: 5rem; } }

a {
  text-decoration: none; }
