@import 'partials/_setup.scss';
@import 'partials/_utils.scss';
@import 'partials/_Header.scss';
@import 'partials/_Main.scss';
@import 'partials/_Form.scss';

html {
  font-size:62.5%;

}

body {
  background:url('./assets/brickwall.png');
  color:$primary;
  font-size:1.8rem;
  font-family:$bodyFont;
}

img {
  width:100%;
  display:block;
}

h1 {
  font-size:6rem;
  text-align: center;
  // transform: translateY(50%);
}

h2 {
  // border:1px solid red;
  width:100%;
  text-align: center;
  background:rgba(214,214,214, 0.8);
  padding:10px 0;
  position: fixed;
  z-index: 10;
}

h3 {
  padding:0 4rem;
  text-align: center;
}

a {
  text-decoration: none;
}